@import url(https://fonts.googleapis.com/css?family=IBM+Plex+Sans+Condensed:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
@import 'sass/variables.scss';

*,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $primaryFont;
    //background-color: $secondaryColorLighter;
    background-color: $lightBody;
}

img {
    width: 100%;
    display: block;
    //height: 10rem;
    object-fit: cover;
    height: 100%;
}

//är style för den "Welcome(..)"
h2 {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.container {
    margin: auto;

    //gjorde så för att den första delen ska ta upp hela skärmen
    .top_container {

        //blir det osm håller i hela headern, nödvändigt för att färgen ska fylla skärmen när det andra i headern får en max bredd
        .main_header {
            background-color: $secondaryColor;

            .header_box {
                width: 100%;
                display: flex;
                justify-content: space-between;
                padding: 1rem;

                position: relative;
                //max-width: 1000px;

                //desktop
                @media (min-width:1040px) {
                    max-width: 900px;
                    margin: auto;
                }

                ul {

                    //toggle
                    .tg-list-item {
                        //gömmer defalt style som kommer med
                        list-style: none;

                        .tgl-flip {
                            //gömmer defalt
                            display: none;

                            +.tgl-btn {
                                //padding: 2px;
                                transition: all .2s ease;
                                //font-family: sans-serif;
                                perspective: 100px;

                                //placerar och för effekt, lite lite style
                                &:after,
                                &:before {
                                    //display: inline-block;
                                    //för spinnen
                                    transition: all .4s ease;
                                    text-align: center;
                                    font-weight: bold;
                                    color: #fff;
                                    //behöver två för båda hållen
                                    position: absolute;
                                    top: 1rem;
                                    right: 1rem;
                                    //håller text på sin sida
                                    backface-visibility: hidden;
                                    border-radius: 4px;
                                }

                                //för effekt mest
                                &:after {
                                    //återskapar värdet
                                    content: attr(data-tg-on);
                                    //rotatonen
                                    transform: rotateY(-180deg);
                                    padding: .3rem;
                                }

                                //lightmode
                                &:before {
                                    background: #9d4edd;
                                    //åteskapar värdet
                                    content: attr(data-tg-off);
                                    padding: .3rem;
                                }

                                //för efekten
                                &:active:before {
                                    //rotationen
                                    transform: rotateY(-20deg);
                                }
                            }

                            //för efekten
                            &:checked+.tgl-btn {
                                &:before {
                                    //rotation
                                    transform: rotateY(180deg);
                                }

                                //darkmode
                                &:after {
                                    //rotation
                                    transform: rotateY(0);
                                    right: 1rem;
                                    background: #3c096c;
                                    color: $darkFontColor;
                                }

                                //före efekten
                                &:active:after {
                                    //rotation
                                    transform: rotateY(20deg);
                                }
                            }
                        }
                    }
                }
            }
        }

        //boxen som håller inputs och knapp
        .name_box {
            padding: 2rem;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $secondaryColor;
            margin: 10rem;
            border-radius: 10px;

            //desktop
            @media (min-width:1040px) {
                max-width: 900px;
                margin: 10rem auto;
            }

            //stylen för form elementet som håller in inputsen
            .name_form {
                flex: 0 1 350px;
                display: flex;
                flex-direction: column;

                label {
                    padding: 1rem 0;
                    //text-align: left;
                    font-size: 2rem;
                    font-weight: 600;
                }

                //för att kunna sätta knappen åt höger
                .button_container {
                    text-align: right;
                }

                //inputfältet för namnet
                input {
                    font-size: 1.3rem;
                    padding: 1rem;
                    margin: 0.5rem 0;
                    border: none;
                    border: 4px solid $primaryColorDarker;
                    border-radius: 10px;

                    //när användaren står i fältet
                    &.focusBorder {
                        //tar bort defalit
                        outline: none;
                        border: 4px solid $inputEnable;
                    }

                    //själva texten för där man skriver sitt namn
                    &::placeholder {
                        color: grey;
                    }

                    // Style på knappen
                    &[type="submit"] {
                        border: none;
                        background-color: $inputEnable;
                        color: white;
                        transition: 0.2s;

                        // Stylar när knappen är disabled
                        &:disabled {
                            background-color: $primaryColorDarker;
                            color: #865aad;
                            cursor: not-allowed;
                        }
                    }

                    //ville ha knappen lite mindre än inpit fältet
                    &#sendBtn {
                        width: 30%;

                    }

                }
            }
        }
    }

    //ville ha en container för det nedre delarna av sidan med
    .bottom_container {
        text-align: center;

        //för att omsluta cardsen
        .card_container {
            width: 90%;
            margin: auto;
            //display: flex;

            @media (min-width:800px) {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
            }

            //cardsen som inte syns först
            .card {
                background-color: $secondaryColor;
                //margin-bottom: 1rem;
                margin: 1rem;
                padding: 1rem;
                border-radius: 1rem;

                //surflpatta
                @media (min-width:700px) {
                    flex: 0 0 40%;


                }

                //desktop
                @media (min-width:1040px) {
                    flex: 0 0 20%;
                }

                .img_container {
                    width: 100%;
                    height: 250px;
                    padding: 0 1rem;
                }
            }
        }
    }
}

//klass för darkmode
.dark {
    //sätter sig på body
    background-color: $darkBody;

    //fontena
    h1 {
        color: $darkFontColor;
    }

    h2 {
        color: $darkFontColor;
    }

    h5 {
        color: $darkFontColor;
    }

    h4 {
        color: $darkFontColor;
    }

    .spacename {
        color: $darkFontColor;
    }

    .container {
        .top_container {
            .main_header {
                background-color: $darkPrimary;
            }

            .name_box {
                background-color: $darkPrimary;
            }
        }

        .bottom_container {
            .card_container {
                .card {
                    background-color: $darkPrimary;
                }
            }
        }

    }


}