//Färger
$primaryColor: #9d4edd;
$primaryColorDarker: #c19ee0;
$secondaryColor: #e7c6ff;
$secondaryColorLighter: #000000;

$inputEnable: #3c096c;

$lightBody: #b298dc;

//färger dark
$darkBody: #581c8c;

$darkPrimary: #865aad;

$darkFontColor: #fafafa;

//Fonter
$primaryFont: 'Work Sans', sans-serif;